[user]
	name = Ivan D Vasin
	email = nisavid@gmail.com
[credential]
	helper = osxkeychain
[core]
	autocrlf = input
	safecrlf = warn
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore_global
[branch]
	autosetuprebase = always
[merge]
	tool = kdiff3
[push]
	default = simple
[alias]
	br = branch
	cfg = config
	cfgg = config --global
	cfgl = config --local
	ci = commit
	cia = commit --amend
	ciamh = commit --amend --reuse-message HEAD
	co = checkout
	df = diff --diff-algorithm=histogram --find-copies --find-renames
	dfc = diff --diff-algorithm=histogram --find-copies --find-renames --cached
	dfcs = diff --diff-algorithm=histogram --find-copies --find-renames --cached --stat
	dfs = diff --diff-algorithm=histogram --find-copies --find-renames --stat
	lgd = log --patch --diff-algorithm=histogram --find-copies --find-renames
	lgs = log --stat
	lgsd = log --stat --patch --diff-algorithm=histogram --find-copies --find-renames
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	mg = merge
	mgf = merge --ff-only
	mgnf = merge --no-ff
	rmc = rm --cached
	st = status
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[gui]
	fontdiff = -family \"courier new\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
[grep]
	lineNumber = true
