[user]
	name = Ivan D Vasin
	email = nisavid@gmail.com
[credential]
	helper = osxkeychain
[core]
	autocrlf = input
	safecrlf = warn
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore.global
[branch]
	autosetuprebase = always
[diff]
	algorithm = histogram
	renames = copies
	mnemonicPrefix = true
[grep]
	lineNumber = true
[log]
	date = iso
[merge]
	tool = kdiff3
[pull]
	rebase = preserve
[push]
	default = simple
[alias]
	a = add --patch
	aa = add --all
	br = branch
	brc = symbolic-ref --short HEAD
	cfg = config
	cfgg = config --global
	cfgge = config --global --edit
	cfgl = config --local
	cfgle = config --local --edit
	chp = cherry-pick
	chpa = cherry-pick --abort
	chpc = cherry-pick --continue
	ci = commit
	cia = commit --amend
	cian = commit --amend --no-edit
	cim = commit --message
	cin = commit --no-edit
	cle = clean-disposable
	clo = clone
	co = checkout
	co- = checkout -
	cob = checkout -b
	coma = checkout master
	d = diff --word-diff=color
	dc = diff --word-diff=color --cached
	dcs = diff --word-diff=color --cached --stat
	ds = diff --word-diff=color --stat
	f = fetch
	g = grep
	l = log
	lgd = log --patch
	lgd = log --patch
	lgd1 = log --patch -1
	lgs = log --stat
	lgs1 = log --stat -1
	lgsd = log --stat --patch
	lgsd1 = log --stat --patch -1
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	mg = merge
	mgf = merge --ff-only
	mgma = merge master
	mgnf = merge --no-ff
	pl = pull
	ps = push
	pscb = push-current-branch
	psct = push-current-tag
	pso = push origin
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rbima = rebase --interactive master
	rbiup = rebase --interactive @{upstream}
	rbma = rebase master
	rmc = rm --cached
	rs = reset
	rshard = reset --hard
	rshardma = reset --hard master
	rshardup = reset --hard @{upstream}
	s = status
	st = stash
	sta = stash apply
	stl = stash list
	stp = stash pop
	sts = stash show
	stsp = stash show --patch
[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	showBranch = auto
	status = auto
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[gui]
	fontdiff = -family \"courier new\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
